h1, h2 {
  margin-bottom: 25px;
}

.control-label {
  font-weight: bold;
}


select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  height: 28px;
}

.error {
  color: red;
}

.frame {
    height: 40px;
    text-align: left;
}

.frame.severidad-grave:before {
    content: url(../resources/grave.png);
    display: inline-block;
    height: 18px;
    padding: 2px;
}

.frame.severidad-media:before {
    content: url(../resources/media.png);
    display: inline-block;
    height: 18px;
    padding: 2px;
}